extends layout

block content
  header
    i(class='fas fa-user-secret')
    h1= title
  div(class='grid-container')
    div(class='grid-item') 1
    div(class='grid-item') 2
    div(class='grid-item') 3
    div(class='grid-item') 4
    div(class='grid-item') 5
    div(class='grid-item') 6
    div(class='grid-item') 7
    div(class='grid-item') 8
    div(class='grid-item') 9
  div(id='empty-bar')
    div(id='progress-bar')
  // fillingProgressBar doesn't work at the moment
  button(id='hack-button', onclick='fillingProgressBar()') Hack
